<div style="display:flex;">
    <!-- navigation -->
    <div style="width: 300px;">
        <ul class="nav nav-pills nav-stacked">
            <li ng-repeat="app in apps"
                role="presentation"
                ng-class="{active: isActive(app.name)}">
                <a ng-click="selectApp(app)" href="javascript:void(0);">{{::app.name}}</a>
            </li>
        </ul>
    </div>
    <!-- nodes selection -->
    <div style="flex-grow: 1;">

        <div style="padding: 0 15px;">
            <div ng-if="showSuccessAlert" class="alert alert-success" role="alert">
                <stron>Well done!</stron>
                Operation completed successfully
            </div>
            <div ng-if="showErrorAlert" class="alert alert-danger" role="alert">
                <strong>Oh snap!</strong>
                Something went wrong...
            </div>
        </div>

        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">Application:</label>
                <div class="col-sm-9">
                    <p class="form-control-static">{{currentApp.name}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Number of nodes:</label>
                <div class="col-sm-9">
                    <p class="form-control-static">{{currentApp.nodes.length}}</p>
                </div>
            </div>
            <div ng-repeat="node in currentApp.nodes"
                 class="form-group">
                <label for="node{{$index}}" class="col-sm-3 control-label">Node {{$index + 1}}:</label>
                <div class="col-sm-9">
                    <div class="form-control-static">
                        <input id="node{{$index}}" type="checkbox" ng-model="node.selected" />
                    </div>
                </div>
            </div>
            <div class="col-sm-offset-3">
                <button class="btn btn-success"
                        ng-disabled="nothingToSend(currentApp)"
                        ng-click="sendCommand(currentApp, 'up')"
                        type="button">Up
                </button>
                <button class="btn btn-warning"
                        ng-disabled="nothingToSend(currentApp)"
                        ng-click="sendCommand(currentApp, 'drain')"
                        type="button">Drain
                </button>
                <button class="btn btn-danger"
                        ng-disabled="nothingToSend(currentApp)"
                        ng-click="sendCommand(currentApp, 'down')"
                        type="button">Down
                </button>
            </div>
        </form>
    </div>
</div>