<table class="table table-striped">
    <thead>
    <th>App name</th>
    <th>Nodes status (Node 1 | ... | Node N)</th>
    </thead>
    <tbody>
    <tr ng-repeat="app in apps">
        <td>{{::app.name}}</td>
        <td>{{::app.nodesState}}</td>
    </tr>
    </tbody>
</table>