<!DOCTYPE html>
<html lang="en" ng-app="manager">
<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="./nginx-favicon.png" />
    <title>Upstream manager</title>
    <link rel="stylesheet" href="/bower_components/bootstrap-css/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">

        <div class="page-header" ng-controller="NavigationController">
            <h1>Upstream manager</h1>
            <h3>Brief information about upstreams state, ability to bring up, down and drain your nodes</h3>

            <ul class="nav nav-pills">
                <li ng-repeat="link in menu"
                    role="presentation"
                    ng-class="{active : isActive(link.url)}">
                        <a ng-href="#{{::link.url}}" href="#/">{{::link.text}}</a>
                </li>
            </ul>
        </div>

        <ng-view></ng-view>


    </div>

    <!-- vendor scripts -->
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/bower_components/jquery-2.1.4.min/index.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap-css/js/bootstrap.min.js"></script>

    <!-- app scripts -->
    <script type="text/javascript" src="/scripts/index.js"></script>
</body>
</html>